@page
@model WebApp.Areas.MasterAdmin.Pages.Doctor.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctors</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.PractitionerSpeciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.PractitionerSpeciality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.PractitionerJobCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.PractitionerJobCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.RegisterationNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.RegisterationNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.NationalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.NationalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.BirthPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.HomeTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.HomeTel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.TelNo1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.TelNo1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctors.Mobile)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Doctors.DoctorsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
