@model Entities.HelpDesk.RequestWard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RequestWard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestPriorityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestPriorityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemanderWard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemanderWard.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecepterWard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecepterWard.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentRequestWardID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentRequestWardID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRefered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestWardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
